body, html {
  margin: 0px;
  margin: 0px;
  width: 100%; 
  height: 100%; 
  font-family: verdana,helvetica,tahoma,sans-serif;
  font-size: 10pt;
}
.maincontainer {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.dashboard {
  margin: 0px;
  padding: 0px;
  width:100%;
  height: -moz-calc(100% - 40px); /* 40px = navigation bar height */
  height: -webkit-calc(100% - 40px);
  height: -o-calc(100% - 40px);
  height: calc(100% - 40px);
  max-width: 100%;
  max-height: 100%;
}
.panel {
  margin: 0px ;
  padding: 0px ;
}
.panel .map {
  height: 500px;
}
.panel .tree {
  height: 600px;
}
.panel .chart{
  max-width: 250px;
  height: 250px;
}
.severity-normal {
  background-color: #00FF00; 
}

.severity-minor {
  background-color: #FFFF00;  /*yellow*/
}
.severity-major {
  background-color: #FFA500; /*orange*/
}
.severity-critical {
  background: #FF0000;  /*red*/
}
.severity-unknown {
  background-color: #C0C0C0;  /*gray*/
}
.button {
 margin: none;
 padding: none;
}


