body, html {
  font-size: 10pt;
  
}
.Wt-domRoot {
  position: fixed !important;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  height: -moz-calc(100%); 
  height: -webkit-calc(100%);
  height: -o-calc(100%);
  height: calc(100%);
}
#wrapper {
  position: relative !important;
  display: block;
  left: 0;
  top: 0;
  right: 0;
}

#maincontainer {
  position: relative;
  display:block;
  left: 0;
  top: 0;
  right: 0;
  width: 100% !important; 
  height: -moz-calc(100%); 
  height: -webkit-calc(100%);
  height: -o-calc(100%);
  height: calc(100%);
}

#maincontainer .stackcontentarea {
  position: relative;
  display:block;
  left: 0;
  top: 0;
  right: 0; 
  height: -moz-calc(100% - 40px); 
  height: -webkit-calc(100% - 40px);
  height: -o-calc(100% - 40px);
  height: calc(100% - 40px);
}

/* navbar is from bootstrap */
.navbar { 
  margin: 0;
  padding: 0;
}

#REALOPINSIGHT_MAIN_DASHBOARD {
  margin: 0;
  padding: 0;
  height: 100%; 
}

#REALOPINSIGHT_MAP_BOARD {
  margin: 0;
  padding: 0;
}
#REALOPINSIGHT_TREE_BOARD {
  margin: 0;
  padding: 0;
}
#REALOPINSIGHT_MSG_BOARD {
  margin: 0;
  padding: 0;
}

#REALOPINSIGHT_CHART_BOARD{
  position: absolute;
  bottom: 0px !important;
  left: 0 !important;
  height: 250px;
}
#maincontainer .severity-normal {
  background-color: #00FF00; 
}

.severity-minor {
  background-color: #FFFF00;  /*yellow*/
}
.severity-major {
  background-color: #FFA500; /*orange*/
}
.severity-critical {
  background: #FF0000;  /*red*/
}
.severity-unknown {
  background-color: #C0C0C0;  /*gray*/
}
.button {
 margin: none;
 padding: none;
}


