body, html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #222222;
  background-color: #f8f8ff;
  margin: 0;
  overflow: hidden;
}
/* Wt-domRoot from Wt */
.Wt-domRoot {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
}

/* Now specific classes */
#wrapper {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}
#maincontainer {
  position: relative;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}

#stackcontentarea {
  position: relative;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}


.Wt-dialog {
  background-color: white;
  padding: 1px 0;
}

.Wt-dialog .titlebar {
  color: #ffffff;
  background: #9dc6dd;
  cursor: move;
  font: bold 12px Verdana;
  padding: 1px 3px;
}

/* these classes come from from bootstrap */
.navbar {
  margin: 0;
  padding: 0;
}

.accordion-heading {
  background: #9dc6dd; /*for panel */
}

.accordion-inner {
  background: #f8f8ff; /*for panel */
}
.form-actions {
  text-align: center;
}
.default-item-background {
  background-color: #f8f8ff;  
}
.severity-normal {
  background-color: #00ff00; 
}
.severity-minor {
  background-color: #ffff00;
}
.severity-major { 
  background-color: #ffa500;
}
.severity-critical {
  background: #ff0000;
}
.severity-unknown {
  background-color: #c0c0c0;
}

.thumbnail .caption{
  padding: 5px 2px; 
}

/* Related to form and dialog*/
.ngrt4n-default {
  background: #F8F8FF;
}

.ngrt4n-transparent {
  background: transparent;
  border: none;
}

.ngrt4n-gradient {
  background: -moz-linear-gradient(-45deg,#9DC6DD 0px, #F1F1F1 25%, #FFBB69 40%, #F1F1F1 55%, 
#9DC6DD);
  background: -webkit-linear-gradient(-45deg,#9DC6DD 0px, #F1F1F1 25%, #FFBB69 40%, #F1F1F1 55%, 
#9DC6DD);
  background: -ms-linear-gradient(-45deg,#9DC6DD 0px, #F1F1F1 25%, #FFBB69 40%, #F1F1F1 55%, 
#9DC6DD);
  background: -o-linear-gradient(-45deg,#9DC6DD 0px, #F1F1F1 25%, #FFBB69 40%, #F1F1F1 55%, 
#9DC6DD);
  background: -linear-gradient(-45deg,#9DC6DD 0px, #F1F1F1 25%, #FFBB69 40%, #F1F1F1 55%, #9DC6DD);
}


#ngrt4n-content-pane {
  overflow: auto;
}

#ngrt4n-side-pane {
  overflow: auto;
}

#ngrt4n-content-pane .ngrt4n-content, 
#ngrt4n-side-pane .ngrt4n-content {
  border-radius: 5px;
  overflow: auto;
  background-color: #ffffff;
}

.admin-page #ngrt4n-content-pane {
  float: right;
  overflow: auto;
  background-color: #ffffff;
}

.admin-page #ngrt4n-side-pane {
  float: left;
  overflow: auto;
}

.admin-page #ngrt4n-side-pane .ngrt4n-content {
  background-color: #f8f8ff;
}

.admin-page #ngrt4n-side-pane li {
  /* white-space: nowrap; */
}

#info-box {
  position: absolute;
  z-index: 100;
  right: 0;
}

.info-box {
  z-index: 100; 
}

.login-container {
  width: 480px;
  margin: 100px auto;
}

.form-actions {
  padding: 5px; 
}

.wrapper-container {
  position: relative;
  left: 0;
  top: 0;
  right: 2;
  padding: 0;
  margin: 0;
}

.footer {
  width: 90%;
  margin: 0 5% 0 5%;
  text-align: center;
  font-size: 0.8em;
}

.fixed-footer{
  position: relative;
}

.info-box {
  padding: 5;
}

.center {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.thumbnail .title {
  font-weight: bold;
  margin-bottom: 5px;
  border-bottom: 1px solid #d1d1d1;
}


.logout-button {
  position: absolute;
  right: 0px;
  top: 8px;
  z-index: 200;
}


/* For customizing scrollbars */
::-webkit-scrollbar {
    width: 8px;
    height: 8px
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9dc6dd;/*rgba(255,0,0,0.8); */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}


.notification-icons-container {
  margin-top: 10px;
}

.notification-icons-container span,
.chart .badge {
  color: #000000;
}

.chart legend {
 margin-left: 5px; 
}

.notification-icons-container .badge {
  box-shadow:1px 1px 1px gray;
}

#notification-icon-flag {
  color: #c0c0c0;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}

legend {
 border: none; 
 font-size: 18px;
}


.bi-chart {
  /* background-color: #f8f8ff; */
}


/* red button */
.btn-critical {
  color: #585858;
  background-color: #c71c22;
  border-color: #c71c22;
}

.btn-critical {
  background-color: hsl(0, 100%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0505", endColorstr="#c60000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff0505), to(#c60000));
  background-image: -moz-linear-gradient(top, #ff0505, #c60000);
  background-image: -ms-linear-gradient(top, #ff0505, #c60000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0505), color-stop(100%, #c60000));
  background-image: -webkit-linear-gradient(top, #ff0505, #c60000);
  background-image: -o-linear-gradient(top, #ff0505, #c60000);
  background-image: linear-gradient(#ff0505, #c60000);
  border-color: #c60000 #c60000 hsl(0, 100%, 36%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}


/* orange button */
.btn-major {
  color: #585858;
  background-color: #dd5600;
  border-color: #dd5600;
}

.btn-major {
  background-color: hsl(29, 100%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7d05", endColorstr="#c66000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff7d05), to(#c66000));
  background-image: -moz-linear-gradient(top, #ff7d05, #c66000);
  background-image: -ms-linear-gradient(top, #ff7d05, #c66000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7d05), color-stop(100%, #c66000));
  background-image: -webkit-linear-gradient(top, #ff7d05, #c66000);
  background-image: -o-linear-gradient(top, #ff7d05, #c66000);
  background-image: linear-gradient(#ff7d05, #c66000);
  border-color: #c66000 #c66000 hsl(29, 100%, 36%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}


/* green button */
.btn-normal {
  color: #585858;
  background-color: #73a839;
  border-color: #73a839;
}

.btn-normal {
  background-color: hsl(140, 100%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#05ff58", endColorstr="#00c642");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#05ff58), to(#00c642));
  background-image: -moz-linear-gradient(top, #05ff58, #00c642);
  background-image: -ms-linear-gradient(top, #05ff58, #00c642);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #05ff58), color-stop(100%, #00c642));
  background-image: -webkit-linear-gradient(top, #05ff58, #00c642);
  background-image: -o-linear-gradient(top, #05ff58, #00c642);
  background-image: linear-gradient(#05ff58, #00c642);
  border-color: #00c642 #00c642 hsl(140, 100%, 36%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}


/* yellow button */
.btn-minor {
  color: #585858;
  background-image: #f5e625;
  border-color: #f5e625;
}

.btn-minor {
  background-color: hsl(51, 100%, 39%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd905", endColorstr="#c6a900");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffd905), to(#c6a900));
  background-image: -moz-linear-gradient(top, #ffd905, #c6a900);
  background-image: -ms-linear-gradient(top, #ffd905, #c6a900);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffd905), color-stop(100%, #c6a900));
  background-image: -webkit-linear-gradient(top, #ffd905, #c6a900);
  background-image: -o-linear-gradient(top, #ffd905, #c6a900);
  background-image: linear-gradient(#ffd905, #c6a900);
  border-color: #c6a900 #c6a900 hsl(51, 100%, 36%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;
}


/* green */
.btn-unknown {
  color: #585858;
  background-color: #999999;
  border-color: #999999;
}

.btn-unknown {
  background-color: hsl(0, 0%, 51%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#106106106", endColorstr="#828282");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#106106106), to(#828282));
  background-image: -moz-linear-gradient(top, #106106106, #828282);
  background-image: -ms-linear-gradient(top, #106106106, #828282);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #106106106), color-stop(100%, #828282));
  background-image: -webkit-linear-gradient(top, #106106106, #828282);
  background-image: -o-linear-gradient(top, #106106106, #828282);
  background-image: linear-gradient(#106106106, #828282);
  border-color: #828282 #828282 hsl(0, 0%, 38%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
  -webkit-font-smoothing: antialiased;
}


.breadcrumb {
  margin: 0;
  background-color: #f8f8ff;
}
