body, html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #222222;
  background-color: #f8f8ff;
  margin: 0;
  overflow: hidden;
}
/* Wt-domRoot from Wt */
.Wt-domRoot {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
}

/* Now specific classes */
#wrapper {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}
#maincontainer {
  position: relative;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}

#stackcontentarea {
  position: relative;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
}


.Wt-dialog {
  background-color: white;
  padding: 1px 0;
}

.Wt-dialog .titlebar {
  color: #ffffff;
  background: #9dc6dd;
  cursor: move;
  font: bold 12px Verdana;
  padding: 1px 3px;
}

/* these classes come from from bootstrap */
.navbar {
  margin: 0;
  padding: 0;
}

.accordion-heading {
  background: #9dc6dd; /*for panel */
}

.accordion-inner {
  background: #f8f8ff; /*for panel */
}
.form-actions {
  text-align: center;
}
.default-item-background {
  background-color: #f8f8ff;  
}
.severity-normal {
  background-color: #00ff00; 
}
.severity-minor {
  background-color: #ffff00;
}
.severity-major { 
  background-color: #ffa500;
}
.severity-critical {
  background: #ff0000;
}
.severity-unknown {
  background-color: #c0c0c0;
}

.thumbnail .caption{
  padding: 5px 2px; 
}

/* Related to form and dialog*/
.ngrt4n-default {
  background: #F8F8FF;
}

.ngrt4n-transparent {
  background: transparent;
  border: none;
}

.ngrt4n-gradient {
  background: -moz-linear-gradient(-45deg,#9DC6DD 0px, #F1F1F1 25%, #FFBB69 40%, #F1F1F1 55%, 
#9DC6DD);
  background: -webkit-linear-gradient(-45deg,#9DC6DD 0px, #F1F1F1 25%, #FFBB69 40%, #F1F1F1 55%, 
#9DC6DD);
  background: -ms-linear-gradient(-45deg,#9DC6DD 0px, #F1F1F1 25%, #FFBB69 40%, #F1F1F1 55%, 
#9DC6DD);
  background: -o-linear-gradient(-45deg,#9DC6DD 0px, #F1F1F1 25%, #FFBB69 40%, #F1F1F1 55%, 
#9DC6DD);
  background: -linear-gradient(-45deg,#9DC6DD 0px, #F1F1F1 25%, #FFBB69 40%, #F1F1F1 55%, #9DC6DD);
}

.ngrt4n-thumbnail {
  height: 120px;
}

#ngrt4n-content-pane {
  float: left;
  width: 70%;
  overflow: auto;
  margin-left: 5px;
}

#ngrt4n-side-pane {
  float: right;
  width: 28%;
  overflow: auto;
  margin-left: 5px;
}

#ngrt4n-content-pane .ngrt4n-content, 
#ngrt4n-side-pane .ngrt4n-content {
  width: 98%;
  height: 100%;
  border-radius: 5px;
  overflow: auto;
  background-color: #ffffff;
}

.admin-page #ngrt4n-content-pane {
  float: right;
  overflow: visible;
  background-color: #ffffff;
}

.admin-page #ngrt4n-side-pane {
  float: left;
  overflow: auto;
}

.admin-page #ngrt4n-side-pane .ngrt4n-content {
  background-color: #f8f8ff;
}

.admin-page #ngrt4n-side-pane li {
  white-space: nowrap;
}

.info-box {
  z-index: 100; 
}

.login-container {
  width: 480px;
  margin: 100px auto;
}

.form-actions {
  padding: 5px; 
}

.wrapper-container {
  position: relative;
  left: 0;
  top: 0;
  right: 2;
  padding: 0;
  margin: 0;
}

.footer {
  width: 90%;
  margin: 0 5% 0 5%;
  text-align: center;
  font-size: 0.8em;
}

.fixed-footer{
  position: relative;
}

.info-box {
  padding: 5;
}

.span-one-third {
  position: relative;
  width: 31%;
  margin: 1%;
}

.center {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.thumbnail .title {
  font-weight: bold;
  /*text-transform: capitalize;*/
  margin-bottom: 5px;
  border-bottom: 1px solid #d1d1d1;
}

#update-banner {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 200;
}

.logout-button {
  position: absolute;
  right: 0px;
  top: 8px;
  z-index: 200;
}


/* For customizing scrollbars */
::-webkit-scrollbar {
    width: 8px;
    height: 8px
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #9dc6dd;/*rgba(255,0,0,0.8); */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}


.notification-icons-container {
  margin-top: 10px;
}

.notification-icons-container span,
.chart .badge {
  color: #000000;
}

.chart legend {
 margin-left: 5px; 
}

.notification-icons-container .badge {
  box-shadow:1px 1px 1px gray;
}

#notification-icon-flag {
  color: #c0c0c0;
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
}

legend {
 border: none; 
}


.bi-chart {
  background-color: #f8f8ff;
}

/* change boostrap default button layout */
/*
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*/


/* red button */
.btn-critical {
  color: #585858;
  background-color: #c71c22;
  border-color: #c71c22;
}

.btn-critical {
  background-image: -webkit-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-image: -o-linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e12b31), color-stop(60%, #c71c22), to(#b5191f));
  background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe12b31', endColorstr='#ffb5191f', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border-bottom: 1px solid #9a161a;
}

/* orange button */
.btn-major {
  color: #585858;
  background-color: #dd5600;
  border-color: #dd5600;
}

.btn-major {
  background-image: -webkit-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-image: -o-linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6707), color-stop(60%, #dd5600), to(#c94e00));
  background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff6707', endColorstr='#ffc94e00', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border-bottom: 1px solid #aa4200;
}

/* green button */
.btn-normal {
  color: #585858;
  background-color: #73a839;
  border-color: #73a839;
}
.btn-normal {
  background-image: -webkit-linear-gradient(#88c149, #73a839 60%, #699934);
  background-image: -o-linear-gradient(#88c149, #73a839 60%, #699934);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#88c149), color-stop(60%, #73a839), to(#699934));
  background-image: linear-gradient(#88c149, #73a839 60%, #699934);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff88c149', endColorstr='#ff699934', GradientType=0);
  -webkit-filter: none;
          filter: none;
  border-bottom: 1px solid #59822c;
}


/* yellow button */
.btn-minor {
  color: #585858;
  background-color: #f5e625;
  border-color: #f5e625;
}


/* green */
.btn-unknown {
  color: #585858;
  background-color: #999999;
  border-color: #999999;
}

.breadcrumb {
  margin: 0;
  background-color: #f8f8ff;
}
