/* ---------- FONT ---------- */
@font-face {
  font-family: ProximaNova;
  src:url('/en/uploads/fonts/ProximaNova-Reg-webfont.eot');
  src:url('/en/uploads/fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('/en/uploads/fonts/ProximaNova-Reg-webfont.woff') format('woff'),
    url('/en/uploads/fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
    url('/en/uploads/fonts/ProximaNova-Reg-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: ProximaNovaLight;
  src:url('/en/uploads/fonts/ProximaNova-Light-webfont.eot');
  src:url('/en/uploads/fonts/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/en/uploads/fonts/ProximaNova-Light-webfont.woff') format('woff'),
    url('/en/uploads/fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
    url('/en/uploads/fonts/ProximaNova-Light-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: ProximaNovaBold;
  src:url('/en/uploads/fonts/ProximaNova-Sbold-webfont.eot');
  src:url('/en/uploads/fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/en/uploads/fonts/ProximaNova-Sbold-webfont.woff') format('woff'),
    url('/en/uploads/fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'),
    url('/en/uploads/fonts/ProximaNova-Sbold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: ProximaNovaItalic;
  src:url('/en/uploads/fonts/ProximaNova-RegIt-webfont.eot');
  src:url('/en/uploads/fonts/ProximaNova-RegIt-webfont.eot?#iefix') format('embedded-opentype'),
    url('/en/uploads/fonts/ProximaNova-RegIt-webfont.woff') format('woff'),
    url('/en/uploads/fonts/ProximaNova-RegIt-webfont.ttf') format('truetype'),
    url('/en/uploads/fonts/ProximaNova-RegIt-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal
}



/* Main content div */
div#main {
    font-size: 1.2em;
}

/* **************************** TITLE ************************* */
div#main h2 {
	color: #294B5F;
	padding-top: 1em;
	padding-bottom: 1px;
	margin: 0.75em 0 0.5em 0;
  font: 16px 'ProximaNova', Helvetica, Arial, sans-serif; 	
	text-align: left;
  text-transform: uppercase;
	border-bottom: 1px solid #899092;
  width: 80%;
}
div#main h3 {
	color: #294B5F;
	margin: 1em 0 0.25em 0;
        font:14px/50px 'ProximaNova', Helvetica, Arial, sans-serif; 
	font-size: 1.25em;
	line-height: 1.25em;
}
div#main h4 {
	color: #294B5F;
	margin:  0.75em 0 0.25em 0;
        font:14px/50px 'ProximaNova', Helvetica, Arial, sans-serif; 
	font-size: 1.1em;
	line-height: 1.2em;
        font-weight: bold;
}

div#main h5 {
	color: #294B5F;
        font:12px/50px 'ProximaNova', Helvetica, Arial, sans-serif; 
	font-size: 1.1em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
}


div#main p {
	margin: 0.25em 0;
}

div#main img {
	padding: 10px;
}

div#main .small-icons {
	padding: 0px ;
}

/* ******************** CODE/PRE ************************ */
/* Wrapping text in <code> tags. Makes CSS not validate */
#main code, #main pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word;
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
}

#main pre {
	border: 1px dashed #000;
	background-color: #F8F8FF;
	margin: 0.5em 1em;
	padding: 0.5em;
	line-height: 1.5em;
	font-size: 90%;
}

/* ******************* LIST ************************** */
div#main ul,
div#main ol,
div#main dl {
	font-size: 1.0em;
	line-height: 1.4em;
	margin: 0 0 0 0;
}
div#main ul li,
div#main ol li {
	margin: 0.5em 0 0.25em 3em;
}

/* definition lists topics on bold */
div#main dl {
	margin-bottom: 2em;
	padding-bottom: 1em;
	border-bottom: 1px solid #c0c0c0;
}
div#main dl dt {
	font-weight: bold;
	margin: 0 0 0 1em;
}
div#main dl dd {
	margin: 0 0 1em 1em;
}
/* END LISTS */

a, a:link a:active {
	text-decoration: none;
	background-color: inherit;
	color: #18507C;
}
a:visited {
	text-decoration: none;
	background-color: inherit;
	color: #18507C;
}
a:hover {
	text-decoration: underline;
	background-color: inherit;
	color: #385C72;
}

i, em {
  color: #ff6600;
  font-style: normal;
}

strong {
   color: #294B5F;
}

/* *******************MENU ************************** */
#menuwrapper {
  position: relative;
  float: right;
  height: auto;
  width: auto;
  margin: 0;
  padding: 50px 0 0 0;
}

.clearb {
/* needed for some browsers */
	clear: both;
}

#primary-nav {
        float: right;
}

#primary-nav li {
  float: left;
  padding-left:1px;
  list-style-type:none;
}

#primary-nav li a {
  display: block;
  font-size: 15px;
  color: #000;
  text-decoration: none;
  line-height: 60px;
  background: url(/en/images/tm/menu_bg.gif) top repeat-x;
  height: 56px;
  overflow: hidden;
  cursor: pointer;
}

#primary-nav li a span {
  display:block;
  background:url(/en/images/tm/menu_bg_left.gif) top left no-repeat;
}

#primary-nav li a span span {
  background:url(/en/images/tm/menu_bg_right.gif) top right no-repeat;
  padding: 0 32px;
  height: 56px;
}

#primary-nav li a:hover, #primary-nav #menu_active a {
  color:#fff;
  background:url(/en/images/tm/menu_bg_active.gif) top repeat-x;
}

#primary-nav li a:hover span, #primary-nav #menu_active a span {
  background:url(/en/images/tm/menu_bg_left_active.gif) top left no-repeat;
}

#primary-nav li a:hover span span, #primary-nav #menu_active a span span {
  background:url(/en/images/tm/menu_bg_right_active.gif) top right no-repeat
}


#primary-nav .nav3 a:hover, #primary-nav .nav3#menu_active a {
  background:url(/en/images/tm/menu_nav3_bg.gif) top repeat-x;
}

#primary-nav .nav3 a:hover span, #primary-nav .nav3#menu_active a span {
 background:url(/en/images/tm/menu_nav3_left.gif) top left no-repeat;
}

#primary-nav .nav3 a:hover span span, #primary-nav .nav3#menu_active a span span {
  background:url(/en/images/tm/menu_nav3_right.gif) top right no-repeat;
}

/* The magic - set to work for up to a 3 level menu, but can be increased unlimited, for fourth 
level add
#primary-nav li:hover ul ul ul,
#primary-nav li.menuparenth ul ul ul,
*/
#primary-nav ul,
#primary-nav li:hover ul,
#primary-nav li:hover ul ul,
#primary-nav li.menuparenth ul,
#primary-nav li.menuparenth ul ul {
	display: none;
}


/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, 
header, hgroup, keygen, meter, nav, output, progress, section, source, video {
display:block;
}
mark, rp, rt, ruby, summary, time {display:inline}
/* Left & Right alignment */
.left {
  float:left;
}

.right {
  float: right;
}

.wrapper {
  width:100%;
  overflow:hidden;
}
/* Global properties */

body {
  font-family: "ProximaNova", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Arial, 
sans-serif;
  color: #000; 
  line-height: 1.4em;
  font-size: 12px;
}

.maintm {
  margin: 0 auto;	
  width: 980px;
}

/* main layout */
h1 { 
  float: left;
  padding: 23px 0 0 30px;
  font-family: 'ProximaNova', Helvetica, Arial, sans-serif; 
}

#top_nav {
  float: right; 
  padding: 5px 32px 0 0;
}

#gts_btn {
  float: left; 
  /* padding: 5px 32px 0 0;*/
}

#top_nav li {
  float:left;
  padding-right:8px;
  margin-right:7px;
  background:url(/en/images/tm/line_top.gif) right 5px no-repeat;
   list-style-type: none;
}

#top_nav li a {
  color:#000;
  text-decoration:none;
  font-size:12px;
}

#top_nav li a:hover {
  text-decoration:underline;
}

#top_nav .end {
  padding-right:0;
  margin-right:0;
  background:none;
}

#logo {
  position: relative;
  display: block;
  background: url(/en/images/logo.png) 0 0 no-repeat;
  width: 211px; 
  height: 51px;
  text-indent:-9999px;
  text-decoration: none;
  margin: 50px 0 0 0;
   z-index: 0;
}

.text {
  font-size: 16px;
  line-height: 1.2em;
  color: #fff;
  padding: 43px 0 0 45px;
  letter-spacing: -1px;
  float: left;
  width: 340px;
  position: relative;
}

.text p span {
  display: block;
}

.text p {
  padding-left: 5px;
  padding-bottom: 0px;
}

.text .tittle {
  font-size: 60px;
  line-height: 1.2em;
  display: block;
  letter-spacing: -2px;
  margin-bottom: -10px;
}

.text .tittle span {
  font-size: 15px;
  line-height: 1.2em;
  color: #000;
  display: block;
  letter-spacing: -1px;
}

.text .button1 {
  display: block;
  position: absolute;
  top: 295px;
  left: 49px;
  background: url(/en/images/tm/button_1.png) 0 0 no-repeat;
  width: 158px;
  height: 56px;
  text-align: center;
  font-size: 24px;
  line-height: 46px;
  color: #3d6c00;
  text-transform: uppercase;
  text-decoration: none;
}

.text .button1:hover {
  color: #000;
}

.roundabout-holder { 
  height: 5em;
}

.roundabout-moveable-item {
  cursor: pointer;
  width: 394px;
  height: 307px;
  margin-top: 150px;
  padding-bottom: 20px;
}

.roundabout-in-focus {
  cursor: auto;
}

#gallery {
  position: relative;
  height: 413px;
  width: 500px;
  float: right;
  padding-right: 30px;
}

#gallery img {
  display: block;
  width: 100%;
  height: 100%;
}

#gallery li {
  overflow: hidden;
}

.marg_right1 {
  margin-right: 19px;
}

.pad_bot1 {
  padding-bottom: 6px;
}

.pad_bot2 {
  padding-bottom: 18px;
}

.pad_bot3 {
  padding-bottom: 12px;
}

.pad_top1 {
  padding-top: 6px;
}

.pad_left1 {
  padding-left: 40px;
}

.color1 {
  color: #000;
}
 
.link1 {
  text-decoration: none;
}

.link1:hover {
  color: #76a300;
}

.button {
  display: inline-block;
  background: url(/en/images/tm/button_2.png) 0 0 no-repeat;
  width: 129px;
  height: 44px;
  padding-top: 8px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.button:hover {
 color:#76a300;
}

#newsletter {}
#newsletter .bg {
  background:url(/en/images/tm/newsletter_input.png) 0 0 no-repeat;
  min-height:43px;
}

#newsletter .input {
  background: none;
  padding: 7px 10px;
  width: 231px;
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
  color: #c0c0c0;
  height: 14px;
}
 
#icons {}
#icons li {
  line-height: 24px;
  font-size: 12px;
}

#icons img {
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

.address {
  line-height: 24px;
  font-size: 12px;
}

.address span {
  width:57px;
  float: left;
  color: #000;
}

.address a {
  color: #76a300;
}

/* footer */
footer {
  color: #aaa;
  font-size: 12px;
  padding: 27px 0 36px 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.col1, .col2,  .content-content, .content-ads {
  float: left;
}

.col1 {
  padding: 10px;
  width: 255px;
}

.col2 {
  padding: 10px;
  width: 675px;
}

/* For home bottoms */
.col21 {
  padding: 10px;
  width: 300px;
}

.col22 {
  padding: 10px;
  width: 300px;
}

.col1 h4, .col2 h4 {
	color: #294B5F;
	margin:  0 0 0.25em 0;
	font-size: 1.2em;
	line-height: 1.2em;
}

.content-content {
  padding-right: 5px;
  width: 710px;
  display: block;
}

.content-ads {
  display: block;
  width: 265px;
  position: relative;
  left: 0px;
}

#header-home {
  height: 544px; 
  background: url(/en/images/tm/header_bg.png) center 131px no-repeat;
  margin-bottom: 30px;
}

/* header */
#header-content {
  height: 181px;
  width: 100%;
  overflow: hidden;
  background: url(/en/images/tm/bg_header2.jpg) center 131px no-repeat;
  margin-bottom: 20px;
}

#header-home #logo, #header-content #logo {
  display: block;
  background: url(/en/images/logo.png) 0 0 no-repeat;
  width: 211px; 
  height: 51px;
  text-indent: -9999px;
  text-decoration: none;
  margin: 50px 0 0 0;
}

/* content */
#content {
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}

.layout-top {
  background: url(/en/images/tm/bg_top.gif) top repeat-x #f1f1f1;
}

.layout-middle {
  background:#e6e6e6;
}

/*  Footer layout */
.layout-bottom {
  background: #454545;
  padding-top: 5px;
  padding-bottom: 20px; 
}

.layout-bottom img {
  margin: 0;
}

.layout-bottom a{
  color: #FFF;
}


a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, 
caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, 
figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, 
img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, 
samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, 
tdvideo, tt, u, ul, var {background:transparent; margin:0; padding:0; outline:0;vertical-align:top}
blockquote, q {quotes:none}
table, table td {padding:0;border:none;border-collapse:collapse}
img {vertical-align:top}
embed {vertical-align:top}
* {border:none}

/* ---------- DEFINITION ---------- */
div#lefthome {
  float: left;
  width: 75%;
  position: relative;
} 

div#righthome {
  float: right;
  width: 21%;
} 

div#righthome p.hightlight{
  font:12px 'ProximaNova', Helvetica, Arial, sans-serif;
  font-weight: bold;
} 
.slide-show {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   border-radius: 15px;
   -moz-border-radius:15px;
   -webkit-border-radius:15px;
   width: 100%;
   padding: 15px;
   font:14px 'ProximaNova', Helvetica, Arial, sans-serif;
   z-index:0;
   background-color:  #F8F8FF;
}

.afterslide-show {
  border: 0px; margin: 0px; 
  width: 100%;
  padding: 15px;
}

.nospace-paragraph{
  margin: 0.5em;
 padding: 0 ;
}


/* Donwload Buttons */
.button#download_button {
     padding:5px 6px 5px  6px;
     font:  bold 12px/14px Verdana, Geneva, Arial, Helvetica, sans-serif;
     background-color: #BFDC7A;
     background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
     background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
     background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
     background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
     background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
     color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.downloadbtn {
    height: 22px;
    width: auto;
    text-align: center;
    display: inline-block;
    padding: 7.5px 15px 5px  15px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);    
      -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
      -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
      -o-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
       -moz-border-radius:5px;
       -webkit-border-radius:5px;
       -o-border-radius: 5px;
     font:  bold 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.downloadbtn.green {
background: rgb(65,163,23); /* Old browsers */
background: -moz-linear-gradient(top, rgba(65,163,23,1) 0%, rgba(14,145,0,1) 24%, rgba(15,155,7,1) 
50%, rgba(14,145,0,1) 79%, rgba(65,163,23,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,163,23,1)), 
color-stop(24%,rgba(14,145,0,1)), color-stop(50%,rgba(15,155,7,1)), 
color-stop(79%,rgba(14,145,0,1)), color-stop(100%,rgba(65,163,23,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(65,163,23,1) 0%,rgba(14,145,0,1) 24%,rgba(15,155,7,1) 
50%,rgba(14,145,0,1) 79%,rgba(65,163,23,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(65,163,23,1) 0%,rgba(14,145,0,1) 24%,rgba(15,155,7,1) 
50%,rgba(14,145,0,1) 79%,rgba(65,163,23,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(65,163,23,1) 0%,rgba(14,145,0,1) 24%,rgba(15,155,7,1) 
50%,rgba(14,145,0,1) 79%,rgba(65,163,23,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(65,163,23,1) 0%,rgba(14,145,0,1) 24%,rgba(15,155,7,1) 
50%,rgba(14,145,0,1) 79%,rgba(65,163,23,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a317', 
endColorstr='#41a317',GradientType=0 ); /* IE6-9 */
}


.downloadbtn.orange {
  font-weight: bold;
  text-align: center;
  font-size: 16px;
background: rgb(255,116,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,116,0,1) 0%, rgba(255,102,0,1) 24%, rgba(255,127,4,1) 
50%, rgba(255,102,0,1) 79%, rgba(255,116,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,116,0,1)), 
color-stop(24%,rgba(255,102,0,1)), color-stop(50%,rgba(255,127,4,1)), 
color-stop(79%,rgba(255,102,0,1)), color-stop(100%,rgba(255,116,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,116,0,1) 0%,rgba(255,102,0,1) 
24%,rgba(255,127,4,1) 50%,rgba(255,102,0,1) 79%,rgba(255,116,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,116,0,1) 0%,rgba(255,102,0,1) 24%,rgba(255,127,4,1) 
50%,rgba(255,102,0,1) 79%,rgba(255,116,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,116,0,1) 0%,rgba(255,102,0,1) 24%,rgba(255,127,4,1) 
50%,rgba(255,102,0,1) 79%,rgba(255,116,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,116,0,1) 0%,rgba(255,102,0,1) 24%,rgba(255,127,4,1) 
50%,rgba(255,102,0,1) 79%,rgba(255,116,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', 
endColorstr='#ff7400',GradientType=0 ); /* IE6-9 */
}

.downloadbtn.green a,
.downloadbtn.orange a {
  text-decoration: none;
  color: #F5F5DC;
}

.downloadbtn.green a:hover {
  text-decoration: underline;
}

.downloadbtn.orange a:hover {
  text-decoration: underline;
}

.sfdl-lite {
 display: -moz-inline-stack;
 display: inline-block;
  vertical-align: middle;
 *vertic-alalign: auto;
  zoom: 1;
  *display: inline;
  float: none;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:30%;
  margin:auto
}

/* This imageless css button was generated by CSSButtonGenerator.com */

.ribbon-wrapper {
  width: 210px;
  height:210px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: 0px;
}

.ribbon {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -25px;
  top: 70px;
  width: 300px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#0F0F00));
  background-image: -webkit-linear-gradient(top, #FF0000, #0F0F00);
  background-image:    -moz-linear-gradient(top, #FF0000, #0F0F00);
  background-image:     -ms-linear-gradient(top, #FF0000, #0F0F00);
  background-image:      -o-linear-gradient(top, #FF0000, #0F0F00);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  position:absolute;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}

.ribbon > a, .ribbon > a:hover, .ribbon > a:visited {
    color: #ffffff;
    text-decoration: none;
}

table.inline {
	width: 100%;
	background-color: #ffffff;
	border-spacing: 0px;
	border-collapse: collapse;
        margin: 15px 0px;
}
table.inline th {
	padding: 3px;
	border: 1px solid #8cacbb;
	background-color: #dee7ec;
}

table.inline td {
	padding: 3px;
	border: 1px solid #8cacbb;
        text-align: center;
}

table.inline .download {
       background: #6fb600;
}

table.inline .download a {
      color: #F5F5DC;
}

.headline {
  width: 24%; 
  font-size: 11px;
  margin: auto auto 15px auto; 
  margin: auto auto 15px auto; 
}

.headline.left {
  float: left; 
  margin-right: 1.25%; 
}

.headline.right {
  float: right; 
  margin-right: 0px; 
}


.pub {
margin: 15px 0 15px 0;
}

a#more {
    /* Shape and size */
    display: block;
    width: 142px;
    height: 33px;
    background: url(/en/uploads/images/more.png) no-repeat 0px 0px;

    /* Label */
    font-size: 12px;
    color: #414141;
    text-shadow: 0px 1px 0px #FFF;
    font-weight: bold;
    line-height: 31px;
    text-align: center;
    text-decoration: none;
}

.ads {
  display: block; 
}

.ads-home {
  display: inline-block; 
  position: relative; 
  float: right; 
  z-index: 500;
}

.ads-bottom {  
  position: relative;
  display: block; 
  clear: both;
  margin-top: 10px;
  left: -15px;
}

.ads-banner {  
  display: inline-block; 
  clear: both;
  margin: 10px 0;
  padding: 0;
}

.related-links {}
.related-links a {
  font-weight: bold;
}
