body {
  /* background-color: #f1f1f1;*/
}

.jumbotron h1,
.jumbotron .h1 {
  line-height: 1;
  color: inherit;
}

.jumbotron p {
  line-height: 1.4;
}

.container .jumbotron {
  border-radius: 6px;
}

.jumbotron .container {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 0em;
    padding-bottom: 0em;
    opacity: 0;
  }
  .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 56px;
  }
}

.splash {
  padding-top:2em;
  padding-bottom: 1em;
}

.page-header {
  margin: 0;
  padding-top: 3em;
  padding-bottom: 1em;
}

.splash .thumbnail  {
  text-align: left;
  min-height: 17em;
}

.option-quicklinks .thumbnail {
  border: none;
}

.carousel-control {
  opacity: 0;
}
.carousel-control.left {
  opacity: 0;
}
.carousel-control.right {
  opacity: 0;
}

.carousel-caption {
  position: relative;
  left: 15px;
  float: left;
  text-align: left;
}

.carousel-caption h1 {
  font-size: 56px;
  color: #f57a00;
}

.carousel-caption p {
  font-size: 1.5em;
  color: #000 ;
}

.carousel-inner img {
  position: relative;
  float: right;
}

.carousel-indicators li {
  background-color: #f1f1f1;
}
.carousel-indicators .active {
  background-color: #f57a00;
}
